body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   text-decoration-line: none;
   letter-spacing: 0.02em;
   font-size: 16px;
}
.top {
   background-color: #2e2f42;
}
.otm {
   background-color: #f4f4fd;
}
.size {
   font-size: inherit;
   line-height: 1.5;
   font-family: inherit;
}
h1 {
   font-weight: bold;
   font-size: 56px;
   font-family: inherit;
   color: #FFFFFF;
   line-height: 1.07;
}
a {
   text-decoration-line: inherit;
   color: inherit;
}
a:hover {
   color: #404BBF;
}
.act > a:active {
   color: #404BBF;
}
span {
   color: #4d5ae5;
}
nav > a {
   font-family: "Raleway", sans-serif;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 0.03em;
   line-height: 1.17;
}
.foot > a {
   font-family: "Raleway", sans-serif;
   letter-spacing: 0.03em;
   font-weight: bold;
   font-size: 18px;
   text-transform: uppercase;
   color: #f4f4fd;
}
.foot > p {
   color: #f4f4fd;
}
.foot {
   background-color: #2e2f42;
}
button {
   border-radius: 4px;
   cursor: pointer;
   letter-spacing: 0.04em;
   width: 169px;
   height: 56px;
   background-color: #4D5AE5;
   color: #FFFFFF;
}
button:hover {
   background-color: #404BBF;
}
h2 {
   font-family: inherit;
   font-weight: bold;
   font-size: 36px;
   line-height: 1.11;
}
h3 {
   font-family: inherit;
   font-weight: 500;
   font-size: 20px;
}
.sect-p {
   font-family: inherit;
   letter-spacing: inherit;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
}